<div ng-controller="startCtrl">

    <div class="row">
        <div class="col-sm-8">
            <h3>Annonser</h3>
            <pagination
                    boundary-links="true"
                    total-items="totalItems"
                    items-per-page="itemsPerPage"
                    ng-model="currentPage"
                    class="pagination-sm"
                    previous-text="&lsaquo;"
                    next-text="&rsaquo;"
                    first-text="&laquo;"
                    last-text="&raquo;"
                    ng-change="pageChanged()">

            </pagination>
            <div ng-repeat="add in ads.items">
                <div class="panel panel-default">
                    <div class="panel-heading">{{ add.title }}</div>
                    <div class="panel-body">
                        {{ add.title }}
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>